#tooltip {
	opacity : 0;
	position: absolute;
	width : 60px;
	height: 50px;
	background: whitesmoke;
	text-align: left;
	border: 1px;
	}

body { font: 12px Arial;}

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

#recty {
	fill: steelblue;
}
